@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */

.page {
  /* background: rgb(0, 0, 0, 0.2);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(18, 31, 45, 1) 68%
  );

  backdrop-filter: blur(158.5px); */
  background-image: url('/frontend/public/bodyBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* font-family: "Poppins", sans-serif; */
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-size: inherit;
}
a:hover {
  cursor: pointer;
}

.btn-signup {
  border-radius: 45px;
  background: linear-gradient(102deg, #2cdbbe 8.84%, #669ce9 55.1%);
  box-shadow: 0px 0px 23px 0px rgba(44, 219, 190, 0.28);
}
.btn-login {
  /* Adjust as needed */
  background: linear-gradient(#1b2839, #1b2839) padding-box,
    linear-gradient(102deg, #2cdbbe 8.84%, #669ce9 55.1%) border-box;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.table-background {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 31, 45, 1) 68%
  );
  padding-inline: 4rem;
  padding-block: 2rem;

  /* background-color: #2330443b; */

  /* backdrop-filter: blur(158.5px);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1.6rem; */
}
.table-body {
  border-radius: 5px;
  opacity: 0.9;
  background: #40b5ad;
  box-shadow: 0px 3px 27px 0px rgba(43, 193, 174, 0.44);
}

.footer-text {
  background: linear-gradient(90deg, #669ce9, #2bc1ae);
  -webkit-background-clip: text;
  color: transparent;
}

.left-login {
  border-radius: 24px 0px 0px 24px;
  background: linear-gradient(
    131deg,
    rgba(102, 156, 233, 0.17) 3.95%,
    rgba(46, 125, 239, 0.21) 100.83%
  );
}

.right-login {
  border-radius: 0px 24px 24px 0px;
  background: rgb(68, 104, 155);
  background: radial-gradient(
    circle,
    rgba(68, 104, 155, 1) 0%,
    rgba(17, 28, 40, 1) 97%
  );
  backdrop-filter: blur(94px);
}
@media (max-width: 950px) {
  .left-login {
    border-radius: 0px 0px 24px 24px;
  }
  .right-login {
    border-radius: 24px 24px 0px 0px;
  }
}

.data-box {
  border-radius: 8px;
  background: rgba(183, 183, 183, 0.07);

  backdrop-filter: blur(47.5px);
}

.card-progress_bar {
  border-radius: 6px;
  background: rgba(35, 48, 68, 0.23);

  backdrop-filter: blur(120px);
}

.btn-price {
  border-radius: 45px;
  background: linear-gradient(102deg, #2cdbbe 8.84%, #669ce9 55.1%);
  box-shadow: 0px 0px 23px 0px rgba(44, 219, 190, 0.28);
  width: 100px;
}
@media screen and (min-width: 1526px) {
  .btn-price {
    width: 140px;
  }
}
.diamond-icon {
  filter: drop-shadow(0 0 1rem #2bc1ae);
}
